@page "/admin/users"

@layout AdminAuthorizeLayout

@inject ICurrentUserService _currentUserService

<Title Level="3">Users</Title>

<RepositoryWrapper TRepository="IRegisteredUserRepository"
                   Action="x => x.GetAllAsync()"
                   TResponse="IReadOnlyList<RegisteredUser>"
                   Context="repoContext">
    <Card>
        <Statistic Value="repoContext.Count" Title="Total Users"/>
    </Card>

    <Divider/>

    <Card>
        <Button OnClick="() => _currentUserService.ResetImpersonation()">Reset Impersonation</Button>
    </Card>

    <Table DataSource="repoContext"
           Context="tableContext">
        <Column @bind-Field="@tableContext.Id"/>
        <Column @bind-Field="@tableContext.Email"/>
        <Column @bind-Field="@tableContext.GivenName"/>
        <Column Title="Created At" @bind-Field="@tableContext.CreatedAt" Format="dd/MM/yyyy hh:mm tt" Sortable/>
        <Column Title="Updated At" @bind-Field="@tableContext.UpdatedAt" Format="dd/MM/yyyy hh:mm tt" Sortable/>
        <ActionColumn>
            <Button OnClick="() => _currentUserService.Impersonate(tableContext.Id)">Impersonate</Button>
        </ActionColumn>
    </Table>
</RepositoryWrapper>

@code {

}