@using MudBlazor
@using MudBlazor.Utilities
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AuthorizeLayout)">
                <Authorizing>
                    <p>Determining user session state...</p>
                </Authorizing>
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <NotFound />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<AntContainer />

<MudBlazor.MudThemeProvider Theme="_theme"/>
<MudBlazor.MudDialogProvider />
<MudBlazor.MudSnackbarProvider />

@code
{
    private MudTheme _theme = new()
    {
        Palette = new Palette()
        {
            Primary = new MudColor("#1890FF"),
            Secondary = new MudColor("#FFF06E"),
            Tertiary = new MudColor("#FC6E23"),
            AppbarBackground = new MudColor("#001529"),
            SecondaryContrastText = new MudColor("#000")
        }
    };
}
