@page "/home"

@using Color = MudBlazor.Color

@inject UpClient _upClient

@if (_loading)
{
    <MudProgressLinear Indeterminate />
}
else
{
    ArgumentNullException.ThrowIfNull(_accounts);
    
    <MudStack Row Justify="Justify.Center" AlignItems="AlignItems.Center" Class="flex-wrap pt-4">
        @foreach (var transactionAccount in _accounts)
        {
            var chipName = transactionAccount.Attributes.AccountType.ToString();

            if (transactionAccount.Attributes.OwnershipType is OwnershipType.Joint)
            {
                chipName = "2Up " + chipName;
            }
            
            <a href='@($"/insights/transactions/{transactionAccount.Id}")'>
                <MoneyStatistic Title="@transactionAccount.Attributes.DisplayName"
                                Chip="@chipName"
                                ChipColor="@(transactionAccount.Attributes.AccountType == AccountType.Transactional ? Color.Primary : Color.Secondary)"
                                Amount="@decimal.Parse(transactionAccount.Attributes.Balance.Value)"/>
            </a>
        }
    </MudStack>
}

@code
{
    private bool _loading;
    private IReadOnlyList<AccountResource>? _accounts;

    protected override async Task OnInitializedAsync() => await ReloadAsync();

    private async Task ReloadAsync()
    {
        _loading = true;
        
        _accounts = await _upClient.GetAccountsAsync();
        
        _loading = false;
    }
}
