@using UpBlazor.Core.Models.Enums
@using System.Text.RegularExpressions

@inject IExpenseRepository _expenseRepository
@inject IRecurringExpenseRepository _recurringExpenseRepository

<Card Title="New Expense">
    <Form Model="_request" 
          LabelColSpan="4"
          WrapperColSpan="20"
          OnFinish="async () => await OnFormFinishAsync(UserId)"
          Loading="_loading"
          Context="formContext">
        <FormItem>
            <Input DebounceMilliseconds="int.MaxValue" @bind-Value="@formContext.Name" />
        </FormItem>
        <FormItem Label="Cost">
            <InputGroup>
                <AntDesign.InputNumber Style="min-width: 9rem" TValue="decimal?" Formatter="MoneyFormat" Parser="MoneyParse" @bind-Value="@formContext.Amount.Exact" DefaultValue="50M" Min="0" Step="0.01M" OnChange="x => formContext.Amount.Percent = null"/>
                <AntDesign.InputNumber Style="min-width: 7rem" TValue="decimal?" Formatter="PercentFormat" Parser="PercentParse" @bind-Value="@formContext.Amount.Percent" Min="0" Step="1" OnChange="x => formContext.Amount.Exact = null"/>
            </InputGroup>
        </FormItem>
        <FormItem Label="@_dateLabel">
            <DatePicker @bind-Value="@formContext.PaidByDate" DefaultValue="DateTime.Now"/>
        </FormItem>
        <FormItem Label="Regular Payments">
            <InputGroup>
                <AntDesign.Checkbox Style="padding-right: 1rem" @bind-Value="formContext.RegularPayments" OnChange="OnRegularPaymentEnabledChange" /> 
                @if (formContext.RegularPayments)
                {
                    <AntDesign.InputNumber Disabled="!_request.RegularPayments" Style="min-width: 7rem" TValue="int?" @bind-Value="@formContext.IntervalUnits" Min="0" Step="1"/>
                    <EnumSelect TValue="Interval" Placeholder="Interval" Disabled="!_request.RegularPayments" Style="min-width: 9rem" @bind-Value="formContext.Interval"/>
                }
            </InputGroup>
        </FormItem>
        <FormItem WrapperColOffset="4" WrapperColSpan="20">
            <Button Type="primary" HtmlType="submit" Disabled="@(_request.RegularPayments && (!_request.Interval.HasValue || !_request.IntervalUnits.HasValue))">
                Submit
            </Button>
        </FormItem>
    </Form>
</Card>

@code
{
    [CascadingParameter]
    public string UserId { get; set; }
    
    [Parameter]
    public Func<Task> OnNewExpenseAsync { get; set; }
    
    private ExpenseRequest _request = new();

    private bool _loading;

    private string _dateLabel => _request.RegularPayments ? "Start Date" : "Due By";

    private async Task OnFormFinishAsync(string currentUserId)
    {
        _loading = true;
        
        if (_request.RegularPayments)
        {
            await _recurringExpenseRepository.AddAsync(new RecurringExpense
            {
                Name = _request.Name,
                Interval = _request.Interval.Value,
                IntervalUnits = _request.IntervalUnits.Value,
                Money = _request.Amount,
                StartDate = _request.PaidByDate,
                UserId = currentUserId
            });
        }
        else
        {
            await _expenseRepository.AddAsync(new Expense
            {
                Name = _request.Name,
                UserId = currentUserId,
                Money = _request.Amount,
                PaidByDate = _request.PaidByDate
            });
        }

        _request = new();
        _loading = false;

        if (OnNewExpenseAsync != null)
        {
            await OnNewExpenseAsync.Invoke();
        }
    }

    private string MoneyFormat(decimal? value) => value != null ? $"${value:N2}" : "Exact ($)";

    private string MoneyParse(string value) => Regex.Replace(value, @"\$\s?|(,*)", "");

    private string PercentFormat(decimal? value) => value != null ? value + "%" : "Relative (%)";

    private string PercentParse(string value) => value.Replace("%", "");

    private void OnRegularPaymentEnabledChange(bool enabled)
    {
        if (!enabled)
        {
            _request.Interval = null;
            _request.IntervalUnits = null;
        }
    }

    private class ExpenseRequest
    {
        [DisplayName("Name"), Required]
        public string Name { get; set; }
        [Required]
        public Money Amount { get; set; } = new();
        
        public DateTime PaidByDate { get; set; }
        
        [DisplayName("Regular Payment")]
        public Interval? Interval { get; set; }
        public int? IntervalUnits { get; set; }

        public bool RegularPayments { get; set; }
    }
}
