@using UpBlazor.Core.Models.Enums
@using System.Text.RegularExpressions

@inject IIncomeRepository _incomeRepository

<Card Title="New Income">
    <Form Model="_request" 
          LabelColSpan="4"
          WrapperColSpan="20"
          OnFinish="async () => await OnFormFinishAsync(UserId)"
          Loading="_loading"
          Context="formContext">
        <FormItem Label="Name">
            <Input DebounceMilliseconds="int.MaxValue" @bind-Value="@formContext.Name" />
        </FormItem>
        <FormItem Label="Amount">
            <AntDesign.InputNumber Style="min-width: 9rem" TValue="decimal" Formatter="MoneyFormat" Parser="MoneyParse" @bind-Value="@formContext.ExactMoney" DefaultValue="50M" Min="0" Step="0.01M"/>
        </FormItem>
        <FormItem Label="Start Date">
            <DatePicker @bind-Value="@formContext.StartDate" DefaultValue="DateTime.Now"/>
        </FormItem>
        <FormItem Label="Cycle">
            <InputGroup>
                <AntDesign.InputNumber Style="min-width: 7rem" @bind-Value="@formContext.IntervalUnits" Min="1" Step="1"/>
                <EnumSelect TValue="Interval" Placeholder="Interval" Style="min-width: 9rem" @bind-Value="@formContext.Interval"/>
            </InputGroup>
        </FormItem>
        <FormItem WrapperColOffset="4" WrapperColSpan="20">
            <Button Type="primary" HtmlType="submit" >
                Submit
            </Button>
        </FormItem>
    </Form>
</Card>

@code
{
    [CascadingParameter(Name = "UserId")]
    public string UserId { get; set; }
    
    [Parameter]
    public Func<Task> OnNewIncomeAsync { get; set; }
    
    private IncomeRequest _request = new();

    private bool _loading;
    
    private async Task OnFormFinishAsync(string currentUserId)
    {
        _loading = true;

        await _incomeRepository.AddAsync(new Income
        {
            Name = _request.Name,
            Interval = _request.Interval,
            IntervalUnits = _request.IntervalUnits,
            Money = new Money
            {
                Exact = _request.ExactMoney
            },
            StartDate = _request.StartDate,
            UserId = currentUserId
        });
        
        _request = new();
        _loading = false;

        if (OnNewIncomeAsync != null)
        {
            await OnNewIncomeAsync.Invoke();
        }
    }

    private string MoneyFormat(decimal value) => $"${value:N2}";

    private string MoneyParse(string value) => Regex.Replace(value, @"\$\s?|(,*)", "");


    private class IncomeRequest
    {
        [Required]
        public string Name { get; set; }
        [Required]
        public DateTime StartDate { get; set; }
        [Required]
        public decimal ExactMoney { get; set; }
        [Required]
        public Interval Interval { get; set; }
        [Required]
        public int IntervalUnits { get; set; }
    }
}
